#include "winvile.h"

//
// Icon
//
#ifndef VILE_ICON
#define VILE_ICON "vile.ico"
#endif

VilewIcon ICON VILE_ICON

//
// Popup Menu
//
WinvilePopMenu MENU
{
    POPUP ""
    {
        MENUITEM "&Open...",           IDM_OPEN
    }
}
