# $XTermId: uxvile.desktop,v 1.4 2010/03/05 09:47:50 tom Exp $
[Desktop Entry]
Name=UXVile
Comment=VI Like Emacs
Exec=uxvile
Terminal=false
Type=Application
Encoding=UTF-8
Icon=vile
Categories=Application;Utility;TextEditor;
