# $XTermId: uxvile.desktop,v 1.3 2009/12/08 10:08:53 bod Exp $
[Desktop Entry]
Name=UXVile
Comment=VI Like Emacs
Exec=uxvile
Terminal=false
Type=Application
Encoding=UTF-8
Icon=vile
Categories=Utility;TextEditor;
