# $XTermId: uxvile.desktop,v 1.2 2009/10/25 00:19:36 tom Exp $
[Desktop Entry]
Name=UXVile
Comment=VI Like Emacs
Exec=uxvile
Terminal=false
Type=Application
Encoding=UTF-8
Icon=vile
Categories=Utilities;TextEditor;
