; $Id: vileperl.rc,v 1.1 1999/06/22 01:06:13 tom Exp $
;
; This is a sample script which shows how to initialize the perl scripts
; distributed with vile.

~if &sin $cfgopts "perl"

~if &seq $progname xvile
	; Add ':startserv' vile command for starting Vileserv 
	; 
	perl "Vile::register 'startserv', 'Vileserv::start', 'Start Edit Server', 'Vileserv.pm'"  
	; Add ':stopserv' vile command for stopping Vileserv 
	; 
	perl "Vile::register 'stopserv', 'Vileserv::stop', 'Stop Edit Server', 'Vileserv.pm'"  
	; Start Vileserv now... 
	; 
	startserv 
~endif

; Directory browser
perl "Vile::register 'dir', 'dir', 'Dir Browser', 'dir.pl'" 

; Add spell checker
perl "Vile::register 'spell', 'spell', 'Spell Check', 'spell.pl'"

; Add screen lock
perl "Vile::register 'lock', 'lock', 'Screen Lock', 'lock.pl'"

store-procedure hgrep
    perl "require 'hgrep.pl'"
    perl hgrep
    error-buffer $cbufname
~endm

~endif
