# $XTermId: xvile.desktop,v 1.4 2014/02/02 20:09:55 tom Exp $
[Desktop Entry]
Name=XVile
GenericName=Text Editor
Comment=VI Like Emacs
Exec=xvile %f
Terminal=false
Type=Application
Encoding=UTF-8
Icon=vile
Categories=Utility;TextEditor;
