# $XTermId: xvile.desktop,v 1.2 2009/12/08 10:08:53 bod Exp $
[Desktop Entry]
Name=XVile
Comment=VI Like Emacs
Exec=xvile
Terminal=false
Type=Application
Encoding=UTF-8
Icon=vile
Categories=Utility;TextEditor;
