; $Id: spell.rc,v 1.2 1999/10/03 20:00:29 tom Exp $

store-procedure SpellFilter "Highlight misspelled words in the current buffer"
	~local $curcol $curline
	~local %filtername
	~hidden goto-beginning-of-file
	~hidden attribute-from-filter end-of-file "vile-spell-filt"
~endm
bind-key SpellFilter ^X-i
